* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}
header {
    grid-column: 1/2;
    grid-row: 1/2; 
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    text-align: center;
    background-color: blueviolet;
}

footer, header {
    padding: 0 50px;

    align-items: center;
}

main {
    grid-row: 2/3;
    text-align: center;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
}

section, aside {
    padding: 50px 50px;
} 

aside {
    text-align: center;
    background-color: aqua;
}

section{
    grid-column: 1/2;

    display: grid;

    background-color: violet;
}
.section_main {
    height: 100px;
    
    text-align: center;
}
.section_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    align-items: center;
}
.section_box {
    display: grid;
    align-content: center;

    background-color: darkmagenta;
}
.section_box:last-child {
    grid-column: 1/3;
    grid-row: 2/3;
}

footer {
    grid-column: 1/2;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: 2fr;
    justify-content: space-between;
    align-items: center;

    background-color: darkcyan;
}
footer div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    background-color: bisque;
}
footer h2 {
    text-align: center;
}

@media screen and (max-width: 767px) {
    body {
        grid-template-rows: 10% 90%;

        font-size: 2vw;
    }
    section, aside {
        grid-column: 1/3;
    }
    .section_box {
        height: 55%;
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        grid-template-rows: 10% 70% 20%;

        font-size: 1.5vw;
    }
    main {
        grid-column: 1/2;
    }
    aside {
        grid-column: 2/3; 
    }
    .section_box {
        height: 55%;
    }
    footer div {
        height: 25%; 
    }
}

@media screen and (min-width: 1024px) {
    body {
        grid-template-rows: 15% 60% 25%;

        font-size: 1vw;
    }
    main {
        grid-column: 1/2;
    }
    aside {
        grid-column: 2/3; 
    }
    .section_box {
        height: 75%;
    }
    footer div {
        height: 35%;
    }
}